* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #222;
  line-height: 1.6;
  background-color: #140630;


}

header {
  background: #040307;
  color: #e8e7eb;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
}

nav a {
  color: #5b07c9;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;

}

.hero {

  color: #5003df;
  padding: 300px 20px;
  text-align: center;
}

.btn {
  background: #30034e;
  color: #ffffff;
  padding: 0.75rem 2.5rem;
  border: none;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.all {
  margin-top: 4px;
  background-image: url('./imagem/Top.PNG');
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.btn:hover {
  background: #7e05f0;
}

.SocialMedia {
  background: #530caf;
  color: #ffffff;
  padding: 0.73rem 1.5rem;
  border: none;

  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

section h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(125, 6, 204);
}

section p {
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

footer {
  background: #080808;
  color: #fffcfc;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 2rem;
  }
}